# Data
data/raw/*.csv
data/raw/*.xlsx
data/raw/*.numbers
data/processed/*.csv
data/processed/*.xlsx
data/processed/*.numbers

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Entornos virtuales
venv/
env/
ENV/
.venv/

# Archivos de sistema
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/